@import '../styles/mixins';

.grid {
  display: grid;
  justify-content: center;
  grid-template-rows: auto;

  @include xs {
    grid-template-columns: repeat($xs-columns, 4.375rem);
    margin: 1rem;
    grid-gap: 1rem;
  }

  @include sm {
    grid-template-columns: repeat($sm-columns, 5rem);
    margin: 1.25rem;
    grid-gap: 1rem;
  }

  @include md {
    grid-template-columns: repeat($md-columns, 6.5rem);
    margin: 1.75rem;
    grid-gap: 1.5rem;
  }

  @include lg {
    grid-template-columns: repeat($lg-columns, 3.625rem);
    margin: 2rem;
    grid-gap: 1.5rem;
  }

  @include xl {
    grid-template-columns: repeat($xl-columns, 5rem);
    margin: 2rem;
    grid-gap: 1.5rem;
  }
}

.cell {
  @include xs {
    grid-column: span #{$xs-columns};
    @for $i from 1 through $xs-columns {
      &.col-xs-#{$i} {
        grid-column: span #{$i};
      }
    }
  }
  @include sm {
    grid-column: span #{$sm-columns};
    @for $i from 1 through $sm-columns {
      &.col-sm-#{$i} {
        grid-column: span #{$i};
      }
    }
  }
  @include md {
    grid-column: span #{$md-columns};
    @for $i from 1 through $md-columns {
      &.col-md-#{$i} {
        grid-column: span #{$i};
      }
    }
  }
  @include lg {
    grid-column: span #{$lg-columns};
    @for $i from 1 through $lg-columns {
      &.col-lg-#{$i} {
        grid-column: span #{$i};
      }
    }
  }
  @include xl {
    grid-column: span #{$xl-columns};
    @for $i from 1 through $xl-columns {
      &.col-xl-#{$i} {
        grid-column: span #{$i};
      }
    }
  }
}