@import '../styles/mixins';

.grid {
  display: grid;
  justify-content: center;
  grid-template-rows: auto;

  @include xs {
    grid-template-columns: repeat(4, 4.375rem);
    margin: 1rem;
    grid-gap: 1rem;
  }

  @include sm {
    grid-template-columns: repeat(6, 5rem);
    margin: 1.25rem;
    grid-gap: 1rem;
  }

  @include md {
    grid-template-columns: repeat(6, 6.5rem);
    margin: 1.75rem;
    grid-gap: 1.5rem;
  }

  @include lg {
    grid-template-columns: repeat(12, 3.625rem);
    margin: 2rem;
    grid-gap: 1.5rem;
  }

  @include xl {
    grid-template-columns: repeat(12, 5rem);
    margin: 2rem;
    grid-gap: 1.5rem;
  }
}

.cell {
  @include xs {
    grid-column: span 4;

    @for $i from 1 through 2 {
      &:nth-child(#{$i}) {
        grid-column: span 2;
      }
    }
  }

  @include sm {
    grid-column: span 6;

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        grid-column: span 2;
      }
    }
    @for $i from 4 through 5 {
      &:nth-child(#{$i}) {
        grid-column: span 3;
      }
    }
  }

  @include lg {
    grid-column: span 12;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        grid-column: span 3;
      }
    }

    @for $i from 5 through 7 {
      &:nth-child(#{$i}) {
        grid-column: span 4;
      }
    }

    @for $i from 8 through 9 {
      &:nth-child(#{$i}) {
        grid-column: span 6;
      }
    }
  }
}